<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div>
            <h3 class="font-bold no-margins">
              Plant Gross Capacity Readings
            </h3>
            <small>During day of last approved data</small>
          </div>
          <div>
            <canvas id="lineChart" height="70"></canvas>
          </div>
          <div class="m-t-md">
            <small class="pull-right">
              <i class="fa fa-clock-o"> </i>
              Update on <%= @target_datetime.strftime("%Y-%m-%d") %>
            </small>
            <small>
              <strong>Analysis of output capacity:</strong>
              ---------------------------------------------------------------------------------------------------------------------------
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var lineData = {
      labels: <%= @approved_plant_gross_capacity_readings.map(&:readable_hour_and_minute).to_json.html_safe %>,
      datasets: [
        {
          label: "Output Capacity",
          fillColor: "rgba(220,220,220,0.5)",
          strokeColor: "rgba(220,220,220,1)",
          pointColor: "rgba(220,220,220,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: <%= @approved_plant_gross_capacity_readings.map(&:output_capacity).to_json.html_safe %>,
        }
      ]
    };

    var lineOptions = {
      scaleShowGridLines: true,
      scaleGridLineColor: "rgba(0,0,0,.05)",
      scaleGridLineWidth: 1,
      bezierCurve: true,
      bezierCurveTension: 0.4,
      pointDot: true,
      pointDotRadius: 4,
      pointDotStrokeWidth: 1,
      pointHitDetectionRadius: 20,
      datasetStroke: true,
      datasetStrokeWidth: 2,
      datasetFill: true,
      responsive: true,
    };
    var ctx = document.getElementById("lineChart").getContext("2d");
    var myNewChart = new Chart(ctx).Line(lineData, lineOptions);
  });
</script>
