default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  host: localhost
  database: kribi_development

test:
  <<: *default
  host: localhost
  database: kribi_test

production:
  <<: *default
  host: localhost
  database: kribi_production
