<div class="footer">
  <div class="pull-right">
    Made with <span class="heart"></span> by the <a href='http://www.abante.com.mx'>Abante</a> Team.
  </div>
  <div>
    Kribi Power Plant Company &copy; 1999-2016
  </div>
</div>
