<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
      <!-- <form role="search" class="navbar&#45;form&#45;custom" method="post" action="/"> -->
      <!--   <div class="form&#45;group"> -->
      <!--     <input type="text" placeholder="Search for something..." class="form&#45;control" name="top&#45;search" id="top&#45;search" /> -->
      <!--   </div> -->
      <!-- </form> -->
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <a href="/logout_web">
          <i class="fa fa-sign-out"></i> Log out
        </a>
      </li>
    </ul>
  </nav>
  <% flash.each do |key, value| %>
    <div class='alert alert-<%= key %>'><%= value %></div>
  <% end %>
</div>
